---
import {Image} from 'astro:assets';
import tannleger from '../content/tannleger.json';
import WaveToFooter from './WaveToFooter.astro';
import {getSiteSettings} from '../scripts/getSettings';
import Card from "./Card.astro";

// For å dynamisk importere bilder i Astro
const images = import.meta.glob('/src/assets/tannleger/*.{jpeg,jpg,png,webp}');
const settings = await getSiteSettings();

const sorterteTannleger = tannleger.sort((a, b) => a.navn.localeCompare(b.navn, 'nb'));
---
<section id="tannleger" class="section-container bg-slate-50">
    <div class="section-content">
        <div class="section-header section-header-sticky bg-slate-50/95 md:bg-transparent">
            <h2 class="section-heading">Våre Tannleger</h2>
            <p class="section-intro">{settings.tannlegerTekst}</p>
            <div class="heading-accent"></div>
        </div>

        <div class="flex flex-col md:grid md:grid-cols-2 lg:grid-cols-3 gap-10">
            {sorterteTannleger.map((t, index) => {
                // VIKTIG: Definer disse variablene her inne i map-funksjonen

                const imagePath = `/src/assets/tannleger/${t.bildeFil}`;
                const hasImage = images[imagePath];

                return (
                        <Card
                                index={index}
                                title={t.navn}
                                headerOffset="160px"
                                isStack={true}
                                image={true}
                                minHeight="450px"
                        >
                            {hasImage ? (
                                    <Image slot="image"
                                           src={images[imagePath]()}
                                           alt={t.navn}
                                           class="w-full h-full object-cover"
                                    />
                            ) : (
                                    <div slot="image"
                                         class="w-full h-full bg-gray-200 flex items-center justify-center text-gray-400">
                                        Bilde mangler
                                    </div>
                            )}
                            <p class="card-subtitle">{t.tittel}</p>
                            <p class="card-text line-clamp-6">
                                {t.beskrivelse}
                            </p>
                        </Card>
                );
            })}
        </div>
    </div>
</section>