---
export interface Props {
    title?: string;
    description?: string;
}
import Footer from '../components/Footer.astro';
import '../styles/global.css';

import InfoBanner from '../components/InfoBanner.astro';
import Navbar from '../components/Navbar.astro';
import { getSiteSettings } from '../scripts/getSettings';

const settings = await getSiteSettings();

const {
    title = settings.siteTitle,
    description = settings.siteDescription
} = Astro.props;
---
<!doctype html>
<html lang="no" class="scroll-smooth h-full">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/android-chrome-512x512.png">
    
    <title>{title}</title>
    <meta name="description" content={description} />
    
    <!-- OpenGraph -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:image" content={new URL('/hovedbilde.png', Astro.url)} />
</head>

<body class="text-brand flex flex-col min-h-full">

<InfoBanner/>


<div id="navbar-sticky-wrapper" class="sticky top-0 z-50 transition-all duration-300">
    <Navbar settings={settings} />
</div>

<main class="flex-grow flex flex-col">
    <slot/>
</main>

<Footer/>

<script>
    import { initLayoutHelper } from '../scripts/layout-helper.js';
    
    document.addEventListener('astro:page-load', initLayoutHelper);
    initLayoutHelper();
</script>

</body>
</html>

